<div class="container">
    <h2>User Settings</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input ngModel id="name" name="name" class="form-control" type="text">
        </div>
        <div class="form-check form-group">
            <input ngModel type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers">
            <label for="emailOffers" class="form-check-label">
                Email Special Offers
            </label>
        </div>
        <p>User Interface Style</p>
        <div class="form-group">
            <div class="form-check">
                <input ngModel type="radio" class="form-check-input" id="lightInterface" value="light" name="interfaceStyle" checked>
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input ngModel type="radio" class="form-check-input" id="mediumInterface" value="medium"  name="interfaceStyle">
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input ngModel type="radio" class="form-check-input" id="darkInterface" value="dark"  name="interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select ngModel name="subscriptionType" id="subscriptionType" class="form-control">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea ngModel name="notes" id="notes" rows="3" class="form-control"></textarea>
        </div>
 
        <button class="btn btn-primary">Send</button>
    </form>
</div>
<h3>
    {{ form.value | json }}
</h3>
